
.slider-horizontal .slider-handle {
    --slider-height: 3px;
    z-index: -1;
}

.triangle-right {
    width: 0;
    height: 0;
    position: absolute;
    top: 42px;
    left: 0px;
    z-index: 2;
    border-top: 5px solid transparent;
    border-left: 8px solid white;
}

.slider-handle .slider-tooltip-top {
    visibility: hidden;
}

.slider-horizontal {
    height: 3px;
    border-radius: 40px;
}

.slider-handle {
    z-index: 100;
}

.slider-connect {
    background: var(--blue);
}

.slider-base {
    background-color: var(--gray100);
}